.container {
  padding: 80px 24px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto auto auto;
  background-color: var(--very-dark-blue);
}

.item {
  padding: 10px 0;
}

@media screen and (min-width: 1024px) {
  .main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--very-dark-blue);
  }

  .container {
    grid-template-columns: min-content min-content min-content min-content;
    grid-template-rows: auto auto;
  }

  .item {
    padding: 13px 13px;
  }

  .item-1 {
    grid-row: 1 / 3;
  }
}
